<template>
    <div>
        <h1>{{ msg }}</h1>
        <hr />
        <!--h1>{{ name }}{{ position }}</!--h1>
        <-button @click="ChangeName(45),changePosition('CEO')">Change name</button>-->
        <p>Name: {{ name }} Password: {{ password }}</p>
        <input type="text" @input="getInput($event,'Zuckerberg')">
        <input type="text" @input="getPassword">   
    </div>
</template>

<script>
export default{
    name : "HandleView",
    data(){
        return{
            msg: "Event Handlling",
            name: 'Mark Zuckerberg',
            position: 'Developer',
            password:''
        }
    },
    methods: {
        changeName(ageParmas){
            this.name = 'Elon Musk'+",Age:" + ageParmas
        },
        changePosition(positionNew){
            this.position = positionNew
        },
        getInput(event,lastName){
            this.name = event.target.value + "" + lastName
            console.log(event)
        },
        getPassword(event){
            this.password = event.target.value
            console.log(event)
        }
    }
}
</script>

<style lang="scss" scoped>
</style>